---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube
  namespace: sonarqube
  labels:
    app: sonarqube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarqube
  template:
    metadata:
      labels:
        app: sonarqube
    spec:
      containers:
      - name: sonarqube
        env:
          - name: SONARQUBE_JDBC_USERNAME
            value: sonar
          - name: SONARQUBE_JDBC_PASSWORD
            value: sonar
          - name: SONARQUBE_JDBC_URL
            value: jdbc:postgresql://postgresql:5432/sonar
        image: sonarqube:8.9.10-community
        ports:
          - containerPort: 9000
            name: web
            protocol: TCP
        livenessProbe:
          failureThreshold: 5
          initialDelaySeconds: 30
          periodSeconds: 5
          successThreshold: 1
          tcpSocket:
            port: 9000
          timeoutSeconds: 3
        readinessProbe:
          httpGet:
            path: /
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 5
          timeoutSeconds: 30
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
        resources:
          limits:
            cpu: "1"
            memory: 2G
          requests:
            cpu: 500m
            memory: 1G
        volumeMounts:
          - name: sonarqube
            subPath: sonarqube/data
            mountPath: /opt/sonarqube/data
          - name: sonarqube
            subPath: sonarqube/logs
            mountPath: /opt/sonarqube/logs
          - name: sonarqube-config
            mountPath: /opt/sonarqube/conf
          - name: sonarqube
            subPath: sonarqube/extensions
            mountPath: /opt/sonarqube/extensions
          - mountPath: /etc/localtime
            name: localtime
      initContainers:
      - name: delete-lock-file
        image: busybox
        command:
        - /bin/sh
        - -c
        - |
          if [ -f /opt/sonarqube/data/es7/*.lock ];then
              find /opt/sonarqube/data/es7 -type f -name "*.lock" -delete
          fi
        volumeMounts:
          - name: sonarqube
            subPath: sonarqube/data
            mountPath: /opt/sonarqube/data
      volumes:
        - name: sonarqube
          persistentVolumeClaim:
            claimName: sonarqube
        - hostPath:
            path: /etc/localtime
            type: ""
          name: localtime
        - name: sonarqube-config
          configMap:
            defaultMode: 0644
            name: sonarqube-config
