---
apiVersion: v1
kind: Service
metadata:
  name: mindoc
  namespace: devops
spec:
  selector:
    app: mindoc
  type: ClusterIP
  ports:
    - name: http
      port: 8181
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mindoc
  namespace: devops
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "1024m"
  labels:
    app: mindoc
spec:
  ingressClassName: nginx
  rules:
  - host: mindoc.github.icu
    http:
      paths:
      - backend:
          service:
            name: mindoc
            port:
              number: 8443
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - mindoc.github.icu
    secretName: github-tls
