---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hesk
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hesk
  template:
    metadata:
      labels:
        app: hesk
    spec:
      containers:
        - name: hesk
          image: harbor.github.icu/peanut-public/hesk:latest
          securityContext:
            runAsUser: 0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: web
              protocol: TCP
          resources:
            limits:
              cpu: "0.5"
              memory: 500Mi
            requests:
              cpu: "0.25"
              memory: 250Mi
          livenessProbe:
            httpGet:
              port: 80
              path: /hesk
            initialDelaySeconds: 10
            timeoutSeconds: 5
            failureThreshold: 10
          readinessProbe:
            httpGet:
              port: 80
              path: /hesk
            initialDelaySeconds: 10
          volumeMounts:
            - mountPath: /etc/localtime
              name: localtime
      volumes:
        - hostPath:
            path: /etc/localtime
            type: ""
          name: localtime
