---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: imni-tools
  namespace: tools
spec:
  replicas: 1
  selector:
    matchLabels:
      app: imni-tools
  template:
    metadata:
      labels:
        app: imni-tools
    spec:
      containers:
        - name: imni-tools
          image: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/iib0011/omni-tools:latest
          securityContext:
            runAsUser: 0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: web
              protocol: TCP
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
            requests:
              cpu: "0.5"
              memory: 500Mi
          livenessProbe:
            httpGet:
              port: 80
              path: /
            initialDelaySeconds: 10
            timeoutSeconds: 5
            failureThreshold: 10
          readinessProbe:
            httpGet:
              port: 80
              path: /
            initialDelaySeconds: 10
          volumeMounts:
            - mountPath: /etc/localtime
              name: localtime
      volumes:
        - hostPath:
            path: /etc/localtime
            type: ""
          name: localtime
