apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: postgres-exporter
  name: postgres-exporter
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-exporter
  template:
    metadata:
      labels:
        app: postgres-exporter
    spec:
      containers:
      - image: quay.io/prometheuscommunity/postgres-exporter:latest
        imagePullPolicy: IfNotPresent
        args:
          - --config.file=/etc/postgres_exporter.yml
        livenessProbe:
          failureThreshold: 5
          initialDelaySeconds: 30
          periodSeconds: 5
          successThreshold: 1
          tcpSocket:
            port: 9187
          timeoutSeconds: 3
        name: postgres-exporter
        ports:
        - containerPort: 9187
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 5
          initialDelaySeconds: 10
          periodSeconds: 5
          successThreshold: 1
          tcpSocket:
            port: 9187
          timeoutSeconds: 3
        resources:
          limits:
            cpu: 500m
            memory: 2Gi
          requests:
            cpu: 200m
            memory: 1Gi
        securityContext:
          privileged: true
          runAsUser: 0
        volumeMounts:
        - mountPath: /etc/localtime
          name: localtime
        - mountPath: /etc/postgres_exporter.yml
          name: postgres-exporter-config
          subPath: postgres_exporter.yml
      volumes:
      - hostPath:
          path: /etc/localtime
          type: ""
        name: localtime
      - configMap:
          defaultMode: 420
          items:
          - key: postgres_exporter.yml
            path: postgres_exporter.yml
          name: postgres-exporter-config
        name: postgres-exporter-config
