serverAddr = '1.2.3.4'    # 服务端ip
serverPort = 7000         # 服务端端口
auth.method = 'token'     # 客户端访问验证方式
auth.token = '654321'     # 客户端访问验证密码

[[proxies]]
name = 'rdp'              # 客户端服务名
type = 'tcp'              # 通讯方式
localIP = '192.168.1.2'   # 客户端的ip(固定)
localPort = 3389          # 客户端服务端口
remotePort = 6000         # 映射到服务端端口（服务器需放行）


[[proxies]]
name = 'ssh'              # 客户端服务名
type = 'tcp'              # 通讯方式
localIP = '192.168.1.3'   # 客户端的ip(固定)
localPort = 22          # 客户端服务端口
remotePort = 6001         # 映射到服务端端口（服务器需放行）
